body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7714 {
  position:absolute;
  left:47px;
  top:84px;
  width:142px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7715 {
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u7716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7716 {
  position:absolute;
  left:47px;
  top:8px;
  width:142px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7717 {
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u7718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7718 {
  position:absolute;
  left:47px;
  top:179px;
  width:142px;
  height:46px;
}
#u7719 {
  position:absolute;
  left:2px;
  top:15px;
  width:138px;
  word-wrap:break-word;
}
#u7720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7720 {
  position:absolute;
  left:47px;
  top:281px;
  width:142px;
  height:44px;
}
#u7721 {
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u7722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7722 {
  position:absolute;
  left:47px;
  top:369px;
  width:142px;
  height:53px;
}
#u7723 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u7724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7724 {
  position:absolute;
  left:211px;
  top:380px;
  width:533px;
  height:32px;
}
#u7725 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u7726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7726 {
  position:absolute;
  left:211px;
  top:295px;
  width:317px;
  height:16px;
}
#u7727 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u7728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7728 {
  position:absolute;
  left:47px;
  top:467px;
  width:142px;
  height:53px;
}
#u7729 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u7730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7730 {
  position:absolute;
  left:211px;
  top:486px;
  width:169px;
  height:16px;
}
#u7731 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7732 {
  position:absolute;
  left:47px;
  top:561px;
  width:142px;
  height:53px;
}
#u7733 {
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u7734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7734 {
  position:absolute;
  left:211px;
  top:580px;
  width:113px;
  height:16px;
}
#u7735 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7736 {
  position:absolute;
  left:118px;
  top:55px;
  width:0px;
  height:0px;
}
#u7736_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u7737 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7738 {
  position:absolute;
  left:118px;
  top:131px;
  width:0px;
  height:0px;
}
#u7738_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u7739 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7740 {
  position:absolute;
  left:118px;
  top:225px;
  width:0px;
  height:0px;
}
#u7740_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u7741 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7742 {
  position:absolute;
  left:118px;
  top:325px;
  width:0px;
  height:0px;
}
#u7742_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u7743 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7744 {
  position:absolute;
  left:118px;
  top:422px;
  width:0px;
  height:0px;
}
#u7744_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u7745 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7746 {
  position:absolute;
  left:118px;
  top:520px;
  width:0px;
  height:0px;
}
#u7746_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u7747 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
