body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7640 {
  position:absolute;
  left:47px;
  top:84px;
  width:142px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7641 {
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u7642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7642 {
  position:absolute;
  left:68px;
  top:158px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7643 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u7644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7644 {
  position:absolute;
  left:238px;
  top:158px;
  width:100px;
  height:60px;
  font-size:12px;
}
#u7645 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u7646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7646 {
  position:absolute;
  left:89px;
  top:323px;
  width:374px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7647 {
  position:absolute;
  left:2px;
  top:34px;
  width:370px;
  word-wrap:break-word;
}
#u7648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7648 {
  position:absolute;
  left:406px;
  top:163px;
  width:123px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7649 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u7650 {
  position:absolute;
  left:168px;
  top:188px;
  width:0px;
  height:0px;
}
#u7650_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u7651 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7652 {
  position:absolute;
  left:338px;
  top:188px;
  width:0px;
  height:0px;
}
#u7652_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:72px;
  height:8px;
}
#u7653 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7654 {
  position:absolute;
  left:118px;
  top:218px;
  width:0px;
  height:0px;
}
#u7654_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u7654_seg1 {
  position:absolute;
  left:-4px;
  top:88px;
  width:166px;
  height:8px;
}
#u7654_seg2 {
  position:absolute;
  left:154px;
  top:88px;
  width:8px;
  height:17px;
}
#u7655 {
  position:absolute;
  left:-10px;
  top:84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7656 {
  position:absolute;
  left:288px;
  top:218px;
  width:0px;
  height:0px;
}
#u7656_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u7656_seg1 {
  position:absolute;
  left:-16px;
  top:88px;
  width:20px;
  height:8px;
}
#u7656_seg2 {
  position:absolute;
  left:-16px;
  top:88px;
  width:8px;
  height:17px;
}
#u7657 {
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7658 {
  position:absolute;
  left:118px;
  top:131px;
  width:0px;
  height:0px;
}
#u7658_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u7659 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7660 {
  position:absolute;
  left:226px;
  top:451px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7661 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u7662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7662 {
  position:absolute;
  left:202px;
  top:619px;
  width:306px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7663 {
  position:absolute;
  left:2px;
  top:20px;
  width:302px;
  word-wrap:break-word;
}
#u7664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7664 {
  position:absolute;
  left:397px;
  top:451px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7665 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  word-wrap:break-word;
}
#u7666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7666 {
  position:absolute;
  left:386px;
  top:547px;
  width:121px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7667 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u7668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7668 {
  position:absolute;
  left:573px;
  top:462px;
  width:121px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7669 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u7670 {
  position:absolute;
  left:276px;
  top:406px;
  width:0px;
  height:0px;
}
#u7670_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u7671 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7672 {
  position:absolute;
  left:276px;
  top:511px;
  width:0px;
  height:0px;
}
#u7672_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u7672_seg1 {
  position:absolute;
  left:-4px;
  top:85px;
  width:87px;
  height:8px;
}
#u7672_seg2 {
  position:absolute;
  left:75px;
  top:85px;
  width:8px;
  height:23px;
}
#u7673 {
  position:absolute;
  left:-46px;
  top:81px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7674 {
  position:absolute;
  left:447px;
  top:584px;
  width:0px;
  height:0px;
}
#u7674_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u7674_seg1 {
  position:absolute;
  left:-96px;
  top:13px;
  width:100px;
  height:8px;
}
#u7674_seg2 {
  position:absolute;
  left:-96px;
  top:13px;
  width:8px;
  height:22px;
}
#u7675 {
  position:absolute;
  left:-96px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7676 {
  position:absolute;
  left:326px;
  top:481px;
  width:0px;
  height:0px;
}
#u7676_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u7677 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678 {
  position:absolute;
  left:497px;
  top:481px;
  width:0px;
  height:0px;
}
#u7678_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u7679 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7680 {
  position:absolute;
  left:447px;
  top:511px;
  width:0px;
  height:0px;
}
#u7680_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u7681 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7682 {
  position:absolute;
  left:248px;
  top:534px;
  width:15px;
  height:16px;
}
#u7683 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u7684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7684 {
  position:absolute;
  left:451px;
  top:520px;
  width:15px;
  height:16px;
}
#u7685 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u7686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7686 {
  position:absolute;
  left:126px;
  top:243px;
  width:15px;
  height:16px;
}
#u7687 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u7688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:110px;
}
#u7688 {
  position:absolute;
  left:229px;
  top:21px;
  width:398px;
  height:110px;
  font-size:12px;
  text-align:left;
}
#u7689 {
  position:absolute;
  left:2px;
  top:13px;
  width:394px;
  word-wrap:break-word;
}
#u7690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:110px;
}
#u7690 {
  position:absolute;
  left:1082px;
  top:21px;
  width:289px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7691 {
  position:absolute;
  left:2px;
  top:41px;
  width:285px;
  word-wrap:break-word;
}
#u7692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:110px;
}
#u7692 {
  position:absolute;
  left:489px;
  top:296px;
  width:283px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7693 {
  position:absolute;
  left:2px;
  top:20px;
  width:279px;
  word-wrap:break-word;
}
#u7694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7694 {
  position:absolute;
  left:31px;
  top:457px;
  width:119px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7695 {
  position:absolute;
  left:2px;
  top:18px;
  width:115px;
  word-wrap:break-word;
}
#u7696 {
  position:absolute;
  left:91px;
  top:457px;
  width:0px;
  height:0px;
}
#u7696_seg0 {
  position:absolute;
  left:-4px;
  top:-41px;
  width:8px;
  height:41px;
}
#u7696_seg1 {
  position:absolute;
  left:-4px;
  top:-41px;
  width:193px;
  height:8px;
}
#u7696_seg2 {
  position:absolute;
  left:181px;
  top:-51px;
  width:8px;
  height:18px;
}
#u7697 {
  position:absolute;
  left:31px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:110px;
}
#u7698 {
  position:absolute;
  left:31px;
  top:521px;
  width:119px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7699 {
  position:absolute;
  left:2px;
  top:34px;
  width:115px;
  word-wrap:break-word;
}
#u7700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7700 {
  position:absolute;
  left:868px;
  top:21px;
  width:142px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7701 {
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u7702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7702 {
  position:absolute;
  left:877px;
  top:115px;
  width:123px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7703 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u7704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7704 {
  position:absolute;
  left:877px;
  top:197px;
  width:123px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7705 {
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u7706 {
  position:absolute;
  left:939px;
  top:68px;
  width:0px;
  height:0px;
}
#u7706_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u7707 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7708 {
  position:absolute;
  left:939px;
  top:164px;
  width:0px;
  height:0px;
}
#u7708_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u7709 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7710 {
  position:absolute;
  left:47px;
  top:8px;
  width:142px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7711 {
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u7712 {
  position:absolute;
  left:118px;
  top:55px;
  width:0px;
  height:0px;
}
#u7712_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u7713 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
